# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CS 5700\Project 4 damon\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
